<div id="app" class="container mt-4">
  <!-- Preact will render here -->
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<%= javascript_include_tag "app", "data-turbo-track": "reload", defer: true %>